# General
**/__pycache__/
**/*.pyc
**/*.egg-info/
**/mypy_cache/

# Project root
build/
misc/
old_vers/
releases/
tmp/
nuitka-crash-report.xml
.venv/

# Tests
tests/lexer/*.txt
tests/lexer/**/

# Project source
src/quark.log
src/quark.txt
src/quark_hist.txt
